[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Daniel Cai (danielcy715)
[access "refs/for/refs/*"]
	read = group user/Daniel Cai (danielcy715)
	push = group user/Daniel Cai (danielcy715)
	label-Code-Review = -2..+2 group user/Daniel Cai (danielcy715)
	label-Verified = -1..+1 group user/Daniel Cai (danielcy715)
	rebase = group user/Daniel Cai (danielcy715)
	removeReviewer = group user/Daniel Cai (danielcy715)
	submit = group user/Daniel Cai (danielcy715)
[access "refs/heads/*"]
	read = group user/Daniel Cai (danielcy715)
	create = group user/Daniel Cai (danielcy715)
	push = +force group user/Daniel Cai (danielcy715)
	pushMerge = group user/Daniel Cai (danielcy715)
[access "refs/tags/*"]
	push = group user/Daniel Cai (danielcy715)
	push = +force group user/Daniel Cai (danielcy715)

[label "Verified"]
       function = MaxWithBlock
       value = -1 Fails
       value =  0 No score
       value = +1 Verified